body {
    background-color:#242424;
    display:flex;
    flex-direction: column;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#divOpenFret {
    background-color: grey;
    width: 275px;
}

#openFret {
    border: 0px solid black;
    gap: 5px;
    accent-color: black;
    border-radius: 25%;
    outline: 1px black solid;
    justify-content: center;
}

#fretBoard {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: saddlebrown;
    justify-content: space-evenly;
    gap: 7px 2px;
    width: 300px;
    
}

.fret {
    border: 0px solid black;
    padding: 5px;
    accent-color: black;
    border-radius: 25%;
    outline: 1px black solid;
    justify-content: center;
}

#gtrStringDiv {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: sandybrown;
    width: 300px;
}

.gtrString {
    padding: 250px 6px;
    background-color: black;
    opacity:0.75;
    cursor:pointer;
    position:relative;
    transition:0.25s;
    margin: 5px 13px;
}

.gtrString:hover {
    opacity:1;
    border:0;
    animation-name:strummed;
    animation-duration:0.1s;
}

@keyframes strummed {
    0% {left:0px;}
    33% {left:-3px;}
    66% {right:3px;}
    100% {left:0px;}
}

.gtrString:disabled {
    opacity: 0.5;
    cursor: auto;
}

#chordDD {
    display: grid;
}